@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Shnobel;
  font-display: swap;
  src: url("../fonts/Shnobel-Regular.woff2") format("woff2"), url("../fonts/Shnobel-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4C527D;
  line-height: 1.3;
  font-family: "Gilroy";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-sm] {
  max-width: 63.3125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Shnobel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.0416666667;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
  position: relative;
  background: #8A2BE2;
  border-radius: 8px;
  padding: 21px 50px;
  z-index: 1;
  -webkit-transition: color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
  transition: color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, color 0.5s ease 0.2s;
  transition: transform 0.3s ease 0s, color 0.5s ease 0.2s;
  transition: transform 0.3s ease 0s, color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
}

.btn:hover {
  color: #000;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.form {
  position: relative;
}

.form__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.form__group-adress {
  display: none;
  margin-bottom: 1.25rem;
}

.form__group-adress .form__row {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 10px);
          flex: 1 1 calc(50% - 10px);
}

.form__row:not(:last-child) {
  margin-bottom: 0.625rem;
}

.form__input {
  display: inline-block;
  width: 100%;
  border: 1px solid #B8BFF0;
  border-radius: 60px;
  padding: 18px;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
}

.form__input::-moz-placeholder {
  font-size: 16px;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
}

.form__input::placeholder {
  font-size: 16px;
}

.form__input._form-error {
  border: 1px solid red;
}

.form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-family: "Shnobel";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 8px;
  letter-spacing: 0.05em;
  background: #8A2BE2;
  color: #fff;
  -webkit-transition: color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
  transition: color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, color 0.5s ease 0.2s;
  transition: transform 0.3s ease 0s, color 0.5s ease 0.2s;
  transition: transform 0.3s ease 0s, color 0.5s ease 0.2s, -webkit-transform 0.3s ease 0s;
}

.form__button:hover {
  color: #000;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.form__button-payment {
  background: #3D93E7;
}

.form .form__error {
  position: absolute;
  bottom: -25px;
  left: 30px;
  color: red;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.modal-show body::after {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.modal__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 40px 10px;
  width: 100%;
  max-width: 970px;
  border-radius: 20px;
}

.lock .modal__content {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}

.modal_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.modal_show .modal__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal-order {
  text-align: center;
}

.modal-order .form__input {
  padding: 15px;
}

.modal-payment .modal__content {
  max-width: 640px;
  padding: 40px;
}

.modal-product {
  text-align: center;
}

.modal-product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  margin-bottom: 0.9375rem;
}

.modal-product__img img {
  height: 100%;
}

.modal-product__name {
  font-weight: bold;
  color: #000;
  margin-bottom: 0.625rem;
}

.modal-book-paper .form__group-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Shnobel";
  font-size: 50px;
  line-height: 1.06;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1.25rem;
}

.section__title {
  font-family: "Shnobel";
  font-weight: 700;
  font-size: 32px;
  color: #1C1E2E;
  text-align: center;
  margin-bottom: 1.875rem;
}

.site-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.875rem;
}

.site-icon svg {
  width: 20px;
  height: 20px;
}

.site-icon::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.3;
  z-index: -1;
}

.site-icon::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.1;
  z-index: -1;
}

.book-price {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.book-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 3.75rem;
}

.book-order::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  z-index: -1;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.375rem;
}

.payment__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  margin-top: 0.625rem;
}

.payment__cards > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  max-width: 40px;
}

.social {
  text-align: center;
}

.social__title {
  font-family: "Shnobel";
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: background 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.social__item:hover {
  background: rgba(0, 0, 0, 0.3);
}

.love-social .social__item {
  position: relative;
}

.love-social .social__item::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.25;
}

.love-social .social__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.12;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: -o-linear-gradient(345.99deg, #3D93E7 2.63%, #9540E5 40.63%);
  background: linear-gradient(104.01deg, #3D93E7 2.63%, #9540E5 40.63%);
  padding: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 17px;
}

.intro {
  position: relative;
  background: #8a2be2;
  padding-top: 70px;
  height: 610px;
  margin-bottom: 3.125rem;
}

.intro__author {
  position: relative;
  text-align: center;
  z-index: 1;
}

.intro__shape-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  height: auto;
}

.intro__shape-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.presentations {
  margin-bottom: 3.75rem;
}

.presentations__info h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.presentations__info p {
  font-size: 16px;
  font-weight: bold;
}

.book {
  text-align: center;
  margin-bottom: 6.25rem;
}

.book__version {
  font-family: "Shnobel";
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}

.info {
  margin-bottom: 3.75rem;
}

.info__item {
  padding: 16px 40px;
  text-align: center;
}

.info__item-icon {
  font-size: 48px;
  color: #8a2be2;
  margin-bottom: 1rem;
}

.info__item-desc {
  font-family: "Shnobel";
  line-height: 1.5;
  color: #4c527d;
}

.reviews {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px 0 40px;
  margin-bottom: 6.25rem;
}

.reviews .payment {
  text-align: center;
}

.reviews__shape-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  fill: #f2f2f2;
  overflow: hidden;
  vertical-align: middle;
}

.reviews__shape-bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  fill: #f2f2f2;
  overflow: hidden;
  vertical-align: middle;
}

.reviews__body {
  margin-bottom: 2.1875rem;
}

.reviews__title {
  margin-bottom: 3.75rem;
}

.reviews__item {
  position: relative;
  background-color: #fff;
  padding: 48px 24px 24px 24px;
}

.reviews__item-icon {
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
  background: #8a2be2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 23px;
  color: #fff;
  text-align: center;
}

.reviews__item-quote {
  font-size: 15px;
  line-height: 1.5;
  font-style: italic;
  text-align: left;
  margin-bottom: 1rem;
}

.reviews__item-source img {
  width: 60px;
  border-radius: 50%;
}

.reviews__item-source-name {
  font-weight: 600;
}

.reviews__item-source-title {
  font-size: 12px;
}

.callback {
  margin-bottom: 6.25rem;
}

.callback__phone {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}

.callback__text {
  text-align: center;
  margin-bottom: 1.75rem;
}

.callback__form {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.callback__form-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 120px;
  border-radius: 35px;
}

.author {
  position: relative;
  background: #8a2be2;
  color: #fff;
  padding-bottom: 30px;
}

.author__shape-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  fill: #8a2be2;
}

.author .section__title {
  color: #fff;
}

.author__container {
  max-width: 54.375rem;
}

.author__foto {
  text-align: center;
  margin-bottom: 3rem;
}

.author__foto img {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.author__desc {
  font-family: "Shnobel";
  line-height: 1.5;
  margin-bottom: 1.875rem;
}

.love-intro {
  position: relative;
  padding: 80px 0;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
}

.love-intro__text {
  font-family: "Shnobel";
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 1.875rem;
}

.love-intro__book {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.love-intro__book::after {
  content: "";
  position: absolute;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  -webkit-box-shadow: 0px 4px 25px rgba(39, 12, 64, 0.45);
          box-shadow: 0px 4px 25px rgba(39, 12, 64, 0.45);
}

.love-intro__book span {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.love-intro__book span::after {
  content: "";
  position: absolute;
  width: 405px;
  height: 405px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.5;
}

.love-intro__book span::before {
  content: "";
  position: absolute;
  width: 442px;
  height: 442px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.15;
}

.love-intro__book img {
  position: relative;
  z-index: 1;
}

.love-intro__shape {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 275px;
}

.love-about {
  margin-bottom: 3.75rem;
}

.love-about p {
  text-align: center;
}

.love-about__items {
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.love-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.love-author {
  position: relative;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-bottom: 3.75rem;
}

.love-author::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FAF9FE;
  z-index: -2;
}

.love-author__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.love-author__foto {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: #9540E5;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.love-author__foto::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.3;
  z-index: -1;
}

.love-author__foto::before {
  content: "";
  position: absolute;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.1;
}

.love-author__text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1C1E2E;
  margin-bottom: 1.25rem;
}

.love-order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.love-order__payment {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.5rem;
}

/*.order {
    &__btn{
        @media (min-width:$tablet) and (max-width:$pc){
            font-size: 22px;
            padding-left: 22px;
            padding-right: 22px; 
        }
        @media (min-width:$pc){
            padding-left: 30px;
            padding-right: 30px; 
        }
    }
    &__btn--big{
        @media (min-width:$pc){
            font-size: 32px;
            padding: 27px 32px;
        }
    }

}*/

.book-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 3.75rem;
}

.book-order::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  z-index: -1;
}

/*.payment-order {
    display: flex;
    margin-bottom: rem(40);

    @media (max-width:$tablet){
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    @media (min-width:$tablet){
        flex-direction: row-reverse;
        align-items: flex-end; 
        justify-content: flex-end;
        gap: 50px;
        margin-bottom: rem(115); 

    }

    &__cards {
        display: flex;
        align-items:center;
        justify-content: flex-end;
        gap: 10px;
        margin-bottom: rem(10);

        @media (min-width:$tablet){
             margin-bottom: rem(20); 
        }

        & > *{
            flex: 0 0 40px;
            max-width: 40px;
        }
    }
}*/

.info-order {
  margin-bottom: 1.875rem;
}

.info-order__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding: 0 24px;
  margin-bottom: 2.5rem;
}

.info-order__date h3 {
  font-family: "Shnobel";
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #9540E5;
}

.info-order__item {
  margin-bottom: 1.25rem;
  text-align: center;
}

.info-order__item h4 {
  font-size: 16px;
  font-weight: 700;
  color: #4C527D;
  margin-bottom: 0.4375rem;
}

.info-order__item p span {
  display: block;
  color: #8A2BE2;
}

.set-order__cards {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.set-order__img {
  position: relative;
  text-align: right;
  z-index: -1;
  margin-bottom: -30px;
}

.present {
  position: relative;
  padding-bottom: 75px;
}

.present::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: #DEE9FA;
}

.present__container-sm {
  position: relative;
}

.present__shape {
  margin-bottom: -60px;
}

.present__title {
  margin-bottom: 0.625rem;
}

.present__text {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

.book-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

.book-present::after {
  content: "";
  position: absolute;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background: #DEE9FA;
}

.book-present span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.book-present span::before {
  content: "";
  position: absolute;
  width: 880px;
  height: 880px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.1;
}

.book-present span::after {
  content: "";
  position: absolute;
  width: 740px;
  height: 740px;
  border-radius: 50%;
  background: -o-linear-gradient(326.88deg, #3D93E7 2.56%, #9540E5 83.59%);
  background: linear-gradient(123.12deg, #3D93E7 2.56%, #9540E5 83.59%);
  opacity: 0.1;
}

.book-present img {
  position: relative;
  z-index: 2;
}

.book-present__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 3;
}

.book-present__name p {
  font-size: 18px;
}

.book-present__name--1 {
  top: 79.8177083333%;
  left: 0%;
}

.book-present__name--2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.book-present__name--3 {
  top: 79.8177083333%;
}

.book-present__icon {
  width: 22px;
  height: 22px;
  margin-bottom: 0.875rem;
}

.book-present__icon::before {
  width: 48px;
  height: 48px;
}

.book-present__icon::after {
  width: 34px;
  height: 34px;
}

.book-present__icon svg {
  width: 12px;
  height: 12px;
}

.price-present {
  margin-bottom: 3.75rem;
}

.price-present__text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #9540E5;
  margin-bottom: 2.5rem;
}

.info-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-present__title {
  color: #9540E5;
  margin-bottom: 0.625rem;
}

.info-present__text {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1.25rem;
}

.info-present__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  margin-bottom: 1.875rem;
}

.info-present__item p {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.625rem;
}

.info-present__item-icon svg {
  width: 13px;
  height: 17px;
}

.love-callback {
  background: #DEE9FA;
  padding-bottom: 60px;
}

.love-callback .callback__body {
  background-color: #fff;
  border-radius: 32px;
  padding: 40px 16px;
}

@media (min-width: 29.99875em) {
  .book-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }

  .book__img {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 47.99875em) {
  .form__group-adress p {
    text-align: left;
  }

  .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }

  .modal-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .modal-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }

  .intro__heading {
    max-width: 440px;
  }

  .intro__author {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 330px;
            flex: 0 0 330px;
  }

  .intro__author img {
    height: 490px;
  }

  .presentations__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .presentations__container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .presentations__img {
    max-width: 610px;
  }

  .info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info__item {
    padding: 24px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }

  .reviews__item-source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }

  .callback__form-button {
    width: 220px;
  }

  .love-intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .love-about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    margin-bottom: 3.5625rem;
  }

  .love-author__foto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-right: 50px;
  }

  .love-author__text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .info-order__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-order__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 357px;
            flex: 0 0 357px;
  }

  .book-present__name--2 {
    bottom: -3.90625%;
  }
}

@media (min-width: 61.99875em) {
  .form__title {
    margin-bottom: 2.5rem;
  }

  .form__input {
    padding: 22px;
  }

  .form__button {
    font-size: 27px;
  }

  .modal__content {
    padding: 70px 40px;
  }

  .modal-product__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 202px;
    margin-bottom: 1.875rem;
  }

  .modal-product__name {
    font-size: 28px;
    margin-bottom: 1.25rem;
  }

  .title {
    font-size: 78px;
    margin-bottom: 2.5rem;
  }

  .section__title {
    font-size: 58px;
    margin-bottom: 3.125rem;
  }

  .book-order {
    width: 680px;
    height: 680px;
    margin-bottom: 4.375rem;
  }

  .book-order::after {
    width: 755px;
    height: 755px;
  }

  .book-order img {
    max-width: inherit;
    height: 800px;
  }

  .payment {
    gap: 20px;
  }

  .payment__btn--big {
    font-size: 32px;
    padding: 27px 32px;
  }

  .intro {
    margin-bottom: 6.25rem;
  }

  .intro__shape-bottom {
    height: 380px;
  }

  .presentations {
    margin-bottom: 6.25rem;
  }

  .presentations__info h4 {
    font-size: 28px;
  }

  .presentations__info p {
    font-size: 22px;
  }

  .book {
    margin-bottom: 7.5rem;
  }

  .book-stories .payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .book__version {
    font-size: 26px;
  }

  .info {
    margin-bottom: 6.25rem;
  }

  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 380px;
            flex: 0 1 380px;
  }

  .reviews {
    margin-bottom: 10rem;
  }

  .reviews__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 80px;
    margin-bottom: 3.75rem;
  }

  .reviews__body > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .callback {
    margin-bottom: 10rem;
  }

  .callback__phone {
    font-size: 24px;
    margin-bottom: 2.1875rem;
  }

  .love-intro__content {
    padding-top: 40px;
  }

  .love-intro__text {
    font-size: 32px;
    margin-bottom: 3.125rem;
  }

  .love-about__item p {
    max-width: 320px;
  }

  .love-author__text h3 {
    font-size: 30px;
  }

  .love-order__payment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 7.1875rem;
  }

  .book-order {
    width: 680px;
    height: 680px;
    margin-bottom: 4.375rem;
  }

  .book-order::after {
    width: 755px;
    height: 755px;
  }

  .book-order img {
    max-width: inherit;
    height: 800px;
  }

  .info-order {
    margin-bottom: 4.375rem;
  }

  .set-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .set-order__title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: left;
  }

  .no-webp .set-order__title::after{
    background: url(../img/love4/set-title-icon.png) center/cover no-repeat; }

  .set-order__title::after {
    content: "";
    width: 132px;
    height: 75px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 132px;
            flex: 0 0 132px;
    margin-right: 80px;
  }

  .set-order__payment {
    gap: 18px;
    margin-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .book-present__icon {
    margin-bottom: 1.875rem;
    width: 37px;
    height: 37px;
  }

  .book-present__icon::before {
    width: 84px;
    height: 84px;
  }

  .book-present__icon::after {
    width: 58px;
    height: 58px;
  }

  .book-present__icon svg {
    width: 17px;
    height: 16px;
  }

  .price-present {
    margin-bottom: 7.1875rem;
  }

  .info-present__item {
    gap: 48px;
  }

  .love-callback .callback__body {
    padding: 90px 30px;
  }
}

@media (min-width: 81.875em) {
  body {
    font-size: 18px;
  }

  .title {
    font-size: 106px;
  }

  .site-icon {
    margin-bottom: 3.4375rem;
  }

  .site-icon {
    width: 55px;
    height: 55px;
  }

  .site-icon svg {
    width: 26px;
    height: 26px;
  }

  .site-icon::after {
    width: 86px;
    height: 86px;
  }

  .site-icon::before {
    width: 125px;
    height: 125px;
  }

  .book-stories {
    gap: 50px;
  }

  .love-intro__text {
    font-size: 47px;
    margin-bottom: 3.125rem;
  }

  .love-intro__book {
    margin-right: -116px;
  }

  .love-intro__book::after {
    width: 610px;
    height: 610px;
  }

  .love-intro__book span {
    width: 700px;
    height: 700px;
  }

  .love-intro__book span::after {
    width: 770px;
    height: 770px;
  }

  .love-intro__book span::before {
    width: 842px;
    height: 842px;
  }

  .love-about {
    margin-bottom: 7.1875rem;
  }

  .love-about__items {
    margin-top: 5rem;
  }

  .love-author {
    padding-top: 200px;
    padding-bottom: 178px;
    margin-bottom: 9.375rem;
  }

  .love-author__foto {
    width: 457px;
    height: 457px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 457px;
            flex: 0 0 457px;
    margin-right: 150px;
  }

  .love-author__foto img {
    max-width: 105%;
    margin-bottom: 70px;
  }

  .love-author__foto::after {
    width: 533px;
    height: 533px;
  }

  .love-author__foto::before {
    width: 597px;
    height: 597px;
  }

  .info-order__date {
    margin-bottom: 4.6875rem;
  }

  .info-order__date h3 {
    font-size: 58px;
  }

  .info-order__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 420px;
            flex: 0 0 420px;
  }

  .info-order__item h4 {
    font-size: 24px;
  }

  .set-order__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 640px;
            flex: 0 0 640px;
    margin-right: 140px;
  }

  .set-order__img {
    margin-bottom: -50px;
  }

  .book-present {
    margin-bottom: 6.875rem;
  }

  .book-present__name p {
    font-size: 24px;
  }

  .book-present__name--1 {
    max-width: 17.875rem;
  }

  .book-present__name--1 {
    left: -13.0208333333%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .book-present__name--3 {
    max-width: 16.375rem;
  }

  .book-present__name--3 {
    right: -10.4166666667%;
  }

  .price-present__text {
    margin-bottom: 5.375rem;
  }

  .price-present__btn {
    font-size: 32px;
    padding: 27px 44px;
  }

  .info-present__item {
    margin-bottom: 3.75rem;
  }

  .love-callback {
    padding-bottom: 110px;
  }
}

@media (max-width: 20em) {
  .book-present__name--1 {
    max-width: 7.1875rem;
  }

  .book-present__name--3 {
    max-width: 6.25rem;
  }
}

@media (max-width: 81.875em) {
  .presentations__info {
    text-align: center;
  }

  .love-intro__book {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .love-intro__shape {
    height: 160px;
  }

  .love-author__foto {
    overflow: hidden;
  }

  .book-present__name--1 {
    padding-left: 5px;
  }

  .book-present__name--1 .present__book-icon {
    margin-left: 20px;
  }

  .book-present__name--3 {
    right: 8.8541666667%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }
}

@media (max-width: 61.99875em) {
  .btn {
    font-size: 1.125rem;
    padding: 15px 22px;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form__input::-moz-placeholder {
    font-size: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form__input:-ms-input-placeholder {
    font-size: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form__input::-ms-input-placeholder {
    font-size: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form__input::placeholder {
    font-size: 12px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  .book-order img {
    max-width: 590px;
  }

  .payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .intro__shape-bottom {
    height: 60px;
  }

  .reviews__shape-top {
    height: 25px;
  }

  .reviews__shape-bottom {
    height: 25px;
  }

  .reviews__item {
    margin-bottom: 3.75rem;
  }

  .love-intro__book img {
    max-width: 360px;
  }

  .love-about__item p {
    max-width: 270px;
  }

  .book-order img {
    max-width: 590px;
  }
}

@media (max-width: 47.99875em) {
  .form__group {
    gap: 10px;
  }

  .modal-product {
    margin-bottom: 1.875rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }

  .intro__heading .title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .intro__author img {
    margin-bottom: -40px;
    height: 390px;
  }

  .intro__shape-left {
    max-width: 250px;
  }

  .presentations__img {
    text-align: center;
  }

  .presentations__img img {
    max-width: 320px;
  }

  .reviews__item-source {
    text-align: center;
  }

  .reviews__item-source img {
    margin-bottom: 0.5rem;
  }

  .author__shape-top {
    height: 45px;
  }

  .love-intro__content {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .love-about__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .love-author__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .love-author__text h3 {
    text-align: center;
  }

  .love-author__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .set-order__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .present {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .present__text {
    font-size: 18px;
    margin-bottom: 3.75rem;
  }

  .book-present::after {
    width: 220px;
    height: 220px;
  }

  .book-present span::before {
    width: 290px;
    height: 290px;
  }

  .book-present span::after {
    width: 350px;
    height: 350px;
  }

  .book-present__name p {
    font-size: 12px;
  }

  .info-present__text {
    font-size: 16px;
  }

  .info-present__item p {
    font-size: 14px;
    margin-bottom: 0.3125rem;
  }

  .info-present__item-icon::before {
    width: 70px;
    height: 70px;
  }

  .info-present__item-icon::after {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 29.99875em) {
  .book-price {
    font-size: 22px;
    margin-bottom: 0.9375rem;
  }

  .book-stories > *:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .book__img {
    max-width: 230px;
    margin-bottom: 1.125rem;
  }

  .book-present__name--3 {
    top: 80.7291666667%;
  }
}

@media (min-width: 47.99875em) and (max-width: 81.875em) {
  .intro-main .intro__container {
    max-width: 720px;
  }
}

@media (min-width: 61.99875em) and (max-width: 81.875em) {
  .presentations .payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .love-intro__book img {
    max-width: 460px;
  }

  .set-order__payment .payment__btn {
    font-size: 22px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .set-order__img img {
    max-width: 360px;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .reviews__container {
    max-width: 45rem;
  }

  .set-order__img img {
    max-width: 490px;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (max-width: clamp( 7.1875rem , 3.7329545455rem  +  17.2727272727vw , 17.875rem )) {
    .book-present__name--1 {
      max-width: clamp( 7.1875rem , 3.7329545455rem  +  17.2727272727vw , 17.875rem );
    }
}

@supports not (max-width: clamp( 7.1875rem , 3.7329545455rem  +  17.2727272727vw , 17.875rem )) {
    .book-present__name--1 {
      max-width: calc(7.1875rem + 10.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (max-width: clamp( 6.25rem , 2.9772727273rem  +  16.3636363636vw , 16.375rem )) {
    .book-present__name--3 {
      max-width: clamp( 6.25rem , 2.9772727273rem  +  16.3636363636vw , 16.375rem );
    }
}

@supports not (max-width: clamp( 6.25rem , 2.9772727273rem  +  16.3636363636vw , 16.375rem )) {
    .book-present__name--3 {
      max-width: calc(6.25rem + 10.125 * (100vw - 20rem) / 61.875);
    }
}
}

@media screen {
  .reviews .payment {
    margin-bottom: 0;
  }

  .love-order__payment .payment__cards {
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  .info-order__icon {
    margin-bottom: 0;
  }

  .set-order__payment .payment__cards {
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  .price-present .payment {
    margin-bottom: 0;
  }

  .info-present__item-icon {
    margin-bottom: 0;
  }

  .love-callback {
    margin-bottom: 0;
  }
}

@media (min-width: 61.99875em){

  .webp .set-order__title::after{ background: url(../img/love4/set-title-icon.webp) center/cover no-repeat; }
}